@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: rgba(57, 56, 56, 0.005);
  backdrop-filter: blur(8px);
  top: 0;
  right: 0;
  z-index: 100;
  padding-left: 50px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header nav a::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  z-index: 200;
  transition: 0.3s;
}

header nav a::after:hover {
  width: 100%;
}

header a {
  position: relative;
}

header a,
.lang p,
.booking p {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
}

header img {
  width: 190px;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.hero-section {
  background-image: url(images/rooms-hero.png);
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.booking {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.108);
  padding: 30px 0px;
}

.hero-section .texts {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 700px;
  text-align: center;
}

.hero-section #larger-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}

.hero-section #descp {
  font-family: "Jost", sans-serif;
  font-size: 15px;
}

.hero-section .widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Trebuchet MS", Arial, sans-serif;
  gap: 30px;
  padding: 10px 20px;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.042);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.174);
}

.hero-section .go-button {
  background-color: #f9daba;
  color: rgb(99, 58, 3);
  padding: 8px;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.hero-section .go-button:hover {
  background-color: transparent;
  color: white;
}

.secondSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  gap: 30px;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

.secondSection .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.secondSection .header #small-header {
  font-family: "Jost", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.837);
  font-size: 12px;
  font-weight: 400;
}

.secondSection .header #smaller-header {
  font-family: "Jost", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 12px;
  width: 250px;
  font-weight: 400;
}

.secondSection .header #big-header {
  font-family: "Cormorant Garamond", Times, serif;
  color: rgba(0, 0, 0);
  font-size: 50px;
  font-weight: 500;
  width: 500px;
}

.secondSection .body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  color: black;
}

.secondSection .body .photos {
  width: 500px;
  height: 400px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.471);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondSection .body .photo-1 {
  background-image: url(images/room-1.svg);
}
.secondSection .body .photo-2 {
  background-image: url(images/family-room.png);
}
.secondSection .body .photo-3 {
  background-image: url(images/comfort-room.png);
}
.secondSection .body .photo-4 {
  background-image: url(images/beach-villa.png);
}
.secondSection .body .photo-5 {
  background-image: url(images/garden-room.png);
}
.secondSection .body .photo-6 {
  background-image: url(images/panorama-room.png);
}

.secondSection .load-more {
  width: 150px;
}

.secondSection .last-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSection .body .details {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.secondSection .body .details .left-side {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.secondSection .body .details .left-side .more-info {
  font-family: "Jost", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6px;
  gap: 4px;
}

.secondSection .body .details .left-side #descr {
  font-size: 13px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  width: 400px;
}

.secondSection .body .details .left-side .more-info .circle-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.381);
  border-radius: 20px;
}

.secondSection .body .details .left-side .book-now {
  margin-top: 7px;
  width: 130px;
}

.secondSection .body .details .right-side {
  font-size: 12px;
  font-family: "Jost", sans-serif;
}

#dot-1 {
  background-color: white;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  padding: 100px 40px;
  padding-bottom: 200px;
  height: 480px;
  gap: 100px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: rgba(245, 222, 179, 0.308);
}

.fourth-section #small-header {
  font-family: "Jost", sans-serif;
  font-size: 12px;
  color: black;
}

.fourth-section #big-header {
  font-family: "Cormorant Garamond", Times, serif;
  color: rgba(0, 0, 0);
  font-size: 50px;
}

.fourth-section .facilities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.827);
}

.fourth-section .facilities img {
  width: 60px;
  height: auto;
}

.fifth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  gap: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.fifth-section img {
  width: 25%;
}

.fifth-section .mid-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 50%;
  gap: 60px;
  height: 100%;
  flex: 1;
}

.fifth-section .mid-part .text {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0px 70px;
}

.fifth-section .mid-part .text #small-header {
  font-family: "Jost", sans-serif;
  font-size: 12px;
  color: black;
}

.fifth-section .mid-part .text #big-header {
  font-family: "Cormorant Garamond", Times, serif;
  color: rgba(0, 0, 0);
  font-size: 50px;
  font-weight: 500;
}

.fifth-section .mid-part .find-more-btn {
  background-color: #f9daba;
  color: rgb(43, 27, 1);
  font-family: "Jost", sans-serif;
  font-size: 12px;
  padding: 10px 15px;
  font-weight: 500;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  gap: 30px;
  background-color: #122223;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 30px 0px;
  padding-bottom: 0px;
}

footer .footer-main .footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

footer .footer-main .footer-grid .footer-grid-elements {
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-grid-elements h3 {
  font-family: "Cormorant Garamond", Times, serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
}

.footer-grid-elements p {
  color: rgba(255, 255, 255, 0.64);
  font-size: 12px;
  font-family: "Jost", sans-serif;
  letter-spacing: 0.7px;
  transition: 0.3s ease;
}

.footer-grid-elements p:hover {
  color: white;
}

.footer-grid-elements .body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links .body {
  display: flex;
  flex-direction: row !important;
  gap: 8px;
}

.links h3 {
  padding-right: 30px;
}

.links .body div {
  line-height: 25px;
}

.footer-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 35px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.163);
  font-family: "Jost", sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.571);
  border-radius: 4px;
}

.hidden {
  opacity: 0;
  transition: all 1s ease;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
